{#{{ form_start(form) }}#}
    {#{{ form_widget(form) }}#}
    {#<button class="btn">{{ button_label|default('Save') }}</button>#}
{#{{ form_end(form) }}#}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-login">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            {#{%   if register_form is defined %}#}
                            {{ form_start(form, {'attr': {'id': 'register-form', 'style' : 'display:'}}) }}
                            <div class="form-group">
                                {#{{ form_row(register_form._username) }}#}
                                {{ form_label(form.header) }}
                                {{ form_errors(form) }}
                                {{ form_widget(form.header, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.content) }}
                                {#{{ form_errors() }}#}
                                {{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.teaser) }}
                                {{ form_widget(form.teaser, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.isActive) }}
                                {{ form_widget(form.isActive, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.imagePreview, 'Your image') }}
                                {{ form_widget(form.imagePreview) }}
                            </div>
                            <div class="col-sm-6 col-sm-offset-3">
                            <button class="form-control btn btn-login">{{ button_label|default('Save') }}</button>
                            </div>
                            {#<a href="{{ path('post_index') }}">back to list</a>#}
                            {{ form_end(form) }}
                        </div>
                        {#{% endif %}#}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
